@using ELTE.IssueR.Models.Account;

@model MessageViewModel

@section AddToHead
{
    <link href="@Url.Content("~/Content/Styles/AccountStyle.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Beérkezett üzenetek";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Information != null)
{
    <p>ViewBag.Information</p>
}

<h1 class="accountH1">Beérkezett üzenetek</h1>
@Html.ActionLink("Vissza", "Mails", null, new { @class = "buttonlikelink blue" })

@if(Model == null)
{
    <p>Hiba történt, ezért nincs megjeleníthető adat.</p>
}
else
{ 
    <table class="accountTable">
        <tr>
            <th>Új levél</th>
            <th>Küldő</th>
            <th>Téma</th>
            <th>Műveletek</th>
        </tr>
        @for (Int32 i = 0; i < Model.Messages.Count; ++i)
        {
            <tr class="@(!Model.Messages[i].IsRead ? "new" : "old")">
                <td>@(!Model.Messages[i].IsRead ? "Új" : "")</td>
                <td>@Html.Action("IdToName", new { p_id = Model.Messages[i].FromId })</td>
                <td>@Html.ActionLink(Model.Messages[i].Subject, "ReadMail", new { p_id = Model.Messages[i].Id })</td>
                <td>@Html.ActionLink("Törlés", "DeleteMail", new { p_id = Model.Messages[i].Id })</td>
            </tr>
        }
    </table>
}


