@section AddToHead
{
    <link href="@Url.Content("~/Content/Styles/AccountStyle.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Profil";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Information != null)
{
    <p>ViewBag.Information</p>
}

<h1 class="accountH1">Profilom</h1>

<img src="@Url.Action("GetProfileImage")" />

<ul class="account">
    <li>@Html.ActionLink("Üzenetek", "Mails", null, new { @class="buttonlikelink blue" })</li>
    <li>@Html.ActionLink("Adatok módosítása", "AccountSettings", null, new { @class = "buttonlikelink blue" })</li>
    <li>@Html.ActionLink("Profilkép feltöltése", "UploadProfileImage", null, new { @class = "buttonlikelink blue" })</li>
</ul>