@using ELTE.IssueR.Models.Account;

@model AccountSettingsViewModel

@section AddToHead
{
    <link href="@Url.Content("~/Content/Styles/AccountStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/FancyFormStyle.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Adatok módosítása";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Information != null)
{
    <p>ViewBag.Information</p>
}

<h1 class="accountH1">Adatok módosítása</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @ViewBag.Information
    @Html.ValidationSummary(true, "A módosítás sikertelen!")

    <ul class="form-style-1">
        <li>
            <label>Email megváltoztatása:</label>
            @Html.EditorFor(model => model.Email, new { @class = "field-long" })
            <label class="required">@Html.ValidationMessageFor(model => model.Email)</label>
        </li>
        <li>
            <label>Jelszó megváltoztatása:</label>
            @Html.EditorFor(model => model.UserPassword, new { @class = "field-long" })
            <label class="required">@Html.ValidationMessageFor(model => model.UserPassword)</label>
        </li>
        <li>
            <label>Jelszó megerősítése:</label>
            @Html.EditorFor(model => model.UserConfirmPassword, new { @class = "field-long" })
            <label class="required">@Html.ValidationMessageFor(model => model.UserConfirmPassword)</label>
        </li>
        <li>
            <label>Név megváltoztatása:</label>
            @Html.EditorFor(model => model.Name, new { @class = "field-long" })
            <label class="required">@Html.ValidationMessageFor(model => model.Name)</label>
        </li>
    </ul>
    
    <input type="submit" value="Módosítás" class="buttonlikelink green" />
}
