@section AddToHead
{
    <link href="@Url.Content("~/Content/Styles/AccountStyle.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Üzenetek";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Information != null)
{
    <p>ViewBag.Information</p>
}

<h1 class="accountH1">Üzenetek</h1>

<ul class="account">
    <li>@Html.ActionLink("Beérkezett üzenetek (" + @Html.Action("NewMails") + ")", "MailsReceive", null, new { @class="buttonlikelink blue" })</li>
    <li>@Html.ActionLink("Elküldött üzenetek", "MailsSent", null, new { @class = "buttonlikelink blue" })</li>
    <li>@Html.ActionLink("Új üzenet írása", "NewMail", null, new { @class = "buttonlikelink blue" })</li>
</ul>

