@using ELTE.IssueR.Models.Account;
@using Recaptcha.Web.Mvc;

@model NewUserViewModel

@section AddToHead
{
    <link href="@Url.Content("~/Content/Styles/AccountStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/FancyFormStyle.css")" rel="stylesheet" type="text/css" />
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Regisztráció";
}

<h1>Regisztráció</h1>

@using (Html.BeginForm()) // egy űrlapban töltjük ki a tartalmat
{
    @Html.AntiForgeryToken() // védelem XSRF támadás ellen
    @Html.ValidationSummary(true, "A regisztráció sikertelen!")
    
    <ul class="form-style-1">
        <li>
            <label>Felhasználónév (3-20 karakter)<span class="required">*</span></label>
            @Html.EditorFor(user => user.UserName, new { @class = "field-long" })
            <label class="required">@Html.ValidationMessageFor(user => user.UserName)</label>
        </li>
        <li>
            <label>Név (max 50 karakter)<span class="required">*</span></label>
            @Html.EditorFor(user => user.Name, new { @class = "field-long" })
            <label class="required">@Html.ValidationMessageFor(user => user.Name)</label>
        </li>
        <li>
            <label>E-mail cím<span class="required">*</span></label>
            @Html.EditorFor(user => user.Email, new { @class = "field-long" })
            <label class="required">@Html.ValidationMessageFor(user => user.Email)</label>
        </li>
        <li>
            <label>Jelszó (5-40 karakter)<span class="required">*</span></label>
            @Html.EditorFor(user => user.UserPassword, new { @class = "field-long" })
            <label class="required">@Html.ValidationMessageFor(user => user.UserPassword)</label>
        </li>
        <li>
            <label>Jelszó megismétlése<span class="required">*</span></label>
            @Html.EditorFor(user => user.UserConfirmPassword, new { @class = "field-long" })
            <label class="required">@Html.ValidationMessageFor(user => user.UserConfirmPassword)</label>
        </li>
        <li>
            <label>Írd be a képen látható szöveget<span class="required">*</span></label>
            @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean)
        </li>
    </ul>

    <input type="submit" value="Regisztráció" class="buttonlikelink green" />
}

