@using ELTE.IssueR.Models
@model Issue

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead
{
    <link href="@Url.Content("~/Content/Styles/FancyFormStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/IssueStyle.css")" rel="stylesheet" type="text/css" />
}

<button id="back" class="btn buttonlikelink blue" onclick="location.href='@Url.Action("ListIssues", new { selectedPrjId = Model.ProjectId })'">
    <span class="glyphicon glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    Vissza
</button>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "A feladat felvétele sikertelen volt! Ellenőrizd a bevitt adatokat!")

    @Html.HiddenFor(issue => issue.ProjectId)
    @Html.HiddenFor(issue => issue.Id)

    <div id="form1">
        <form>
            <div class="form-group">
                <label>Megnevezés<span class="required">*</span></label>
                @Html.TextBoxFor(issue => issue.Name, new { @class = "form-control" })
                <label class="required">@Html.ValidationMessageFor(issue => issue.Name)</label>
            </div>
            <div class="form-group">
                <label>Típus<span class="required">*</span></label>
                @Html.DropDownListFor(issue => issue.Type, (IEnumerable<SelectListItem>)ViewBag.TypeSelectionList, new { @class = "form-control" })
                <label class="required">@Html.ValidationMessageFor(issue => issue.Type)</label>
            </div>
            <div class="form-group">
                <label>Státusz<span class="required">*</span></label>
                @Html.DropDownListFor(issue => issue.Status, (IEnumerable<SelectListItem>)ViewBag.StatusSelectionList, new { @class = "form-control" })
                <label class="required">@Html.ValidationMessageFor(issue => issue.Status)</label>
            </div>
            <div class="form-group">
                <label>Foglalkoztatott<span class="required">*</span></label>
                @Html.DropDownListFor(issue => issue.UserId, (IEnumerable<SelectListItem>)ViewBag.AssigneeSelectionList, new { @class = "form-control" })
                <label class="required">@Html.ValidationMessageFor(issue => issue.UserId)</label>
            </div>
            <div class="form-group">
                <label>Leírás</label>
                @Html.TextAreaFor(issue => issue.Description, new { @class = "form-control" })
                <label class="required">@Html.ValidationMessageFor(issue => issue.Description)</label>
            </div>
            <div class="form-group">
                <label>Határidő</label>
                @Html.EditorFor(issue => issue.Deadline, new { @class = "form-control" })
                <label class="required">@Html.ValidationMessageFor(issue => issue.Deadline)</label>
            </div>
            <button id="save" type="submit" class="btn buttonlikelink green">Mentés</button>
        </form>
    </div>
}



