@using ELTE.IssueR.Models
@model IssueListingViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead
{
    <link href="@Url.Content("~/Content/Styles/FancyFormStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/ListIssueStyle.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}

<p></p>

@if (Model.SelectedProjectId == null)
{
    <div style="text-align: center">Nincsenek megjeleníthető projektek.</div>
}
else
{
    <table id="extTable">
        <tr>
            <td id="projectTitleTd">
                <h3 id="projectTitle">Projektek</h3>
            </td>
            <td>
                <table id="serviceTable">
                    <tr>
                        <td></td>
                        <td class="fitToContnent" style="text-align:right">
                            <button type="button" class="btn buttonlikelink green fs14" onclick="location.href='@Url.Action("CreateIssue", new { projId = Model.SelectedProjectId })'">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Feladat felvétele
                            </button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td id="projectListTd">
                <div class="btn-group-vertical" id="projectList" data-toggle="buttons">
                    @for (int i = 0; i < ViewBag.Projects.Count; ++i)
                    {
                        Project prj = ViewBag.Projects[i];
                        if (prj.Id == Model.SelectedProjectId)
                        {
                            <label class="btn btn-default active">
                                <input type="radio" name="options" autocomplete="off" checked> @prj.Name.Chop(10)
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-default ">
                                <input type="radio" name="options" autocomplete="off" onchange="location.href='@Url.Action("ListIssues", "Issue", new { selectedPrjId = prj.Id })'" /> @prj.Name.Chop(10)
                            </label>
                        }
                    }
                </div>
                <p></p>
            </td>

            <td id="issueListTd">
                @if (ViewBag.Issues == null || ViewBag.Issues.Count == 0)
                {
                    <div style="text-align: center">A kiválasztott projekthez nem tartoznak feladatok.</div>
                }
                else
                {
                    <div id="issueListDiv">
                        <table class="table table-striped table-hover table-bordered alignRight">
                            <tr>
                                <th class="fitToContnent">#</th>
                                <th class="fitToContnent">Megnevezés</th>
                                <th class="fitToContnent">Státusz</th>
                                <th></th>
                            </tr>
                            @for (int i = 0; i < ViewBag.Issues.Count; ++i)
                            {
                                Issue issue = ViewBag.Issues[i];
                                <tr class="issueListRow">
                                    <td class="fitToContnent">@issue.Id</td>
                                    <td class="fitToContnent">@issue.Name</td>
                                    <td class="fitToContnent">@issue.Status</td>
                                    <td style="text-align:right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle glyphButton" data-toggle="dropdown" aria-expanded="false">
                                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                <li><a href="EditIssue?issueId=@issue.Id">
                                                    Feladat módosítása
                                                </a></li>
                                                <li class="divider"></li>
                                            </ul>
                                        </div>
                                        <button type="button" class="btn btn-default glyphButton" title="Hozzászólások" onclick="location.href='@Url.Action("Comments", new { issueId = issue.Id })'">
                                            <span class=" glyphicon glyphicon-comment" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default glyphButton" title="Fájlok">
                                            <span class=" glyphicon glyphicon-file" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default glyphButton glyphButtonRemove" title="Törlés" onclick="location.href='@Url.Action("RemoveIssue", new { projectId = Model.SelectedProjectId, issueId = issue.Id })'">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                }
            </td>
        </tr>
    </table>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>