@using ELTE.IssueR.Models
@model IssueViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table#t01 {
        width: 100%; 
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: none;
        border-collapse: collapse;
    }
    table#t01 th 
    {
        color: white;
        background-color: #0e74af;
        padding: 10px;
    }
    table#t01 tr:nth-child(even)
    {
        background-color: #eee;
    }
    table#t01 tr:nth-child(odd) 
    {
        background-color: #dbdbdb;
    }
</style>

@if(Model.CurrentProjectId == null)
{
    <div style="text-align: center">Nincsenek megjeleníthető projektek.</div>
}
else 
{ 
    using (@Html.BeginForm())
    {
        <table style="margin-bottom:2%">
            <tr>
                <td>Projektek:</td>
                <td>
                    @Html.DropDownListFor(m => m.CurrentProjectId, new SelectList(Model.Projects, "Id", "Name"), new { onchange = "this.form.submit();" })
                </td>
                <td>
                    @Html.ActionLink("Feladat felvétele", "AddIssue", "Issue", new { selectedProjId = Model.CurrentProjectId }, null)
                </td>
            </tr>
        </table>
    }

    if (Model.CurrentIssues != null && Model.CurrentIssues.Count != 0)
    {
        <table id="t01">
            @*<tr>
                <th>Azonosító</th>
                <th>Név</th>
                <th>Hozzárendelt melós</th>
                <th>Bázis azonosító</th>
                <th>Típus</th>
                <th>Státusz</th>
                <th>Teljesítéshez szükséges idő</th>
                <th>Eltöltött idő</th>
                <th>Határidő</th>
            </tr>*@
            @for (int i=0; i<Model.CurrentIssues.Count;++i)
            {
                var issue = Model.CurrentIssues[i];
            <tr>
                <td>@issue.Id</td>
                <td>
                    @Html.ActionLink(@issue.Name,"EditIssue","Issue", new {issueId = issue.Id}, null)
                </td>
                <td>@issue.Epic.Name</td>
                @if (issue.Employee != null) {<td>@issue.Employee.User.Name</td>} else {<td>-</td>}
                @if (issue.Deadline != null) {<td style="width:10%">@issue.Deadline.Value.ToShortDateString()</td>} else {<td style="width:10%">-</td>}
                <td style="width:40px">
                    @if (issue.Type != null)
                    {
                        if (issue.Type == 1) { <img src="/Images/issue_feature.png" title="Feature"/> }
                        else if (issue.Type == 2) { <img src="/Images/issue_bug.png" title="Bug"/> }
                        else { <img src="/Images/issue_refactor.png" title="Refactor"/> }
                    }
                </td>
                <td style="width:40px">
                    @if (issue.Status !=null)
                    {
                        if (issue.Status == 1) { <img src="/Images/issue_todo.png" title="To do"/> }
                        else if (issue.Status == 2) { <img src="/Images/issue_inprogress.png" title="In progress"/> }
                        else if (issue.Status == 3) { <img src="/Images/issue_needstesting.png" title="Needs testing"/> }
                        else { <img src="/Images/issue_done.png" title="Done"/> }
                    }
                </td>
            </tr>
            }
        </table>
    }
    else
    {
        <div style="text-align: center">A kiválasztott projekthez nem tartoznak feladatok.</div>
    }
}