@using ELTE.IssueR.Models
@using ELTE.IssueR.Models.Permissions

@model ProjectDataViewModel 

@{
    ViewBag.Title = "ProjectData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead
{
    <link href="@Url.Content("~/Content/Styles/FancyFormStyle.css")" rel="stylesheet" type="text/css" />
}

<p></p>

<table border="1" style="border: solid; border-color: #0e74af">
    <tr>
        <td colspan="2" style="text-align: center; font-size: x-large; background-color:#81BEF7">Projekt adatai</td>
    </tr>
    <tr>
        <td style="width:80%; text-align:center; font-size:large"><b>@Model.Project.Name</b></td>
        <td style="width:20%; text-align:right; font-size:large">@String.Format("{0:d}", Model.Project.Deadline)</td>
    </tr>
    <tr>
        <td colspan="2" style="font-size:medium">
            @Model.Project.Description
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center; font-size: x-large; background-color: #81BEF7; ">Tagok</td>
    </tr>

    @foreach (User user in @Model.ProjectMembers)
    {
        <tr style="column-fill:auto">
            <td>@user.Name</td>
            <td style="border:none">
                @if (Html.Action("HasPermission", new { projId = Model.Id, perm = BasePermission.RemoveContent }).ToString() == true.ToString())
                {
                    @Html.ActionLink("Eltávolít", "ProjectMemberRemove", "Project",
                             new { removeableUserId = @user.Id, projectId = @Model.Id },
                             new { @class = "buttonlikelink green" })
                }
                @if (Html.Action("HasPermission", new { projId = Model.Id, perm = BasePermission.EditMember }).ToString() == true.ToString())
                {
                    @Html.ActionLink("Jogosultságok módosítása", "EditmemberPermissions", "Project",
                             new { projId = Model.Id, userId = user.Id },
                             new { @class = "buttonlikelink green" })
                }
            </td>
        </tr>
    }

</table>

<p></p>

@if (Html.Action("HasPermission", new { projId = Model.Id, perm = BasePermission.EditContent }).ToString() == true.ToString())
{
    @Html.ActionLink("Adatok módosíta", "ProjectDataModify", "Project", new { @Model.Id }, new { @class = "buttonlikelink green" })
}

@if (Html.Action("HasPermission", new { projId = Model.Id, perm = BasePermission.AddMember }).ToString() == true.ToString())
{
    @Html.ActionLink("Projekttag hozzáadás", "ProjectMemberAdd", "Project", new { @Model.Id }, new { @class = "buttonlikelink green" })
}
    