@using ELTE.IssueR.Models

@model ProjectDataViewModel 

@{
    ViewBag.Title = "ProjectData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead
{
    <link href="@Url.Content("~/Content/Styles/FancyFormStyle.css")" rel="stylesheet" type="text/css" />
}

<h2>Projekt adatok</h2>

<table>
    <tr>
        <td>Név:</td>
        <td>@Model.Project.Name</td>
    </tr>
    <tr>
        <td>Leírás:</td>
        <td>@Model.Project.Description</td>
    </tr>
    <tr>
        <td>Határidő:</td>
        <td>@Model.Project.Deadline</td>
    </tr>
</table>

<p><b>Projekt tagok</b></p>
@foreach (User user in @Model.ProjectMembers)
{
    <p>@user.Name</p> 
    @Html.ActionLink("Eltávolít", "ProjectMemberRemove", "Project", 
                     new { removeableUserId = @user.Id, projectId =  @Model.Id },
                     new { @class = "buttonlikelink green" })
}

@Html.ActionLink("Módosít", "ProjectDataModify", "Project", new { @Model.Id }, new { @class = "buttonlikelink green" })

@Html.ActionLink("Projekttag hozzáadás", "ProjectMemberAdd", "Project", new { @Model.Id }, new { @class = "buttonlikelink green" })