@using ELTE.IssueR.Models.Wiki;

@model WikiViewModel

@section AddToHead
{
    <link href="@Url.Content("~/Content/Styles/WikiStyle.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Wiki - " + @Model.Section;
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Information != null)
{
    <p>ViewBag.Information</p>
}

<h1>Wiki oldal - @Model.Section</h1>

<div>
    <h2>Műveletek:</h2>
    @if (Model.Section == "Organization")
    {
        <div>
            <p>@Html.ActionLink("Vissza", "Details", "Organization", new { orgId = Model.Id }, new { @class = "buttonlikelink blue" })</p>
        </div>
        if (Html.Action("HasPermission", "Organization", new { orgId = Model.Id, perm = ELTE.IssueR.Models.Permissions.BasePermission.AddContent }).ToString() == true.ToString())
        {
            <p>@Html.ActionLink("Új", "NewWikiPage", new { section = Model.Section, id = Model.Id }, new { @class = "buttonlikelink green" })</p>
        }
    }
    else if (Model.Section == "Project")
    {
        <div>
            <p>@Html.ActionLink("Vissza", "ProjectData", "Project", new { id = Model.Id }, new { @class = "buttonlikelink blue" })</p>
        </div>
        if (Html.Action("HasPermission", "Project", new { projId = Model.Id, perm = ELTE.IssueR.Models.Permissions.BasePermission.AddContent }).ToString() == true.ToString())
        {
            <p>@Html.ActionLink("Új", "NewWikiPage", new { section = Model.Section, id = Model.Id }, new { @class = "buttonlikelink green" })</p>
        }
    }
</div>

<div>
    <h2>Wiki oldalak:</h2>
    <ul>
        @foreach (KeyValuePair<String, Int32> title in Model.Docs)
        {
            if (Model.Section == "Organization")
            {
                <li>@Html.ActionLink(title.Key, "ViewOrgDocument", new { id = title.Value }, new { @class = "buttonlikelink blue" })</li>
            }
            else if (Model.Section == "Project")
            {
                <li>@Html.ActionLink(title.Key, "ViewProjDocument", new { id = title.Value }, new { @class = "buttonlikelink blue" })</li>
            }
        }
    </ul>
</div>
