@using ELTE.IssueR.Models;

@model ProjectDocument

@section AddToHead
{
    <link href="@Url.Content("~/Content/Styles/WikiStyle.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Wiki - " + @Model.Name;
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Information != null)
{
    <p>ViewBag.Information</p>
}

<div>
    <p>@Html.ActionLink("Vissza", "Index", new { section = "Project", id = Model.ProjectId }, new { @class = "buttonlikelink blue" })</p>
</div>

<div>
    @if (Html.Action("HasPermission", "Project", new { orgId = Model.ProjectId, perm = ELTE.IssueR.Models.Permissions.BasePermission.EditContent }).ToString() == true.ToString())
    {
        <p>@Html.ActionLink("Szerkesztés", "EditOrgWikiPage", new { id = Model.Id }, new { @class = "buttonlikelink green" })</p>
    }
    @if (Html.Action("HasPermission", "Project", new { orgId = Model.ProjectId, perm = ELTE.IssueR.Models.Permissions.BasePermission.RemoveContent }).ToString() == true.ToString())
    {
        <p>@Html.ActionLink("Törlés", "RemoveOrgWikiPage", new { id = Model.Id }, new { @class = "buttonlikelink green", onclick = "return confirm('Biztosan ki akarod törölni ezt a wiki oldalt?');" })</p>
    }
</div>

<h1>@Model.Name</h1>
<em>@Model.Author, @Model.Modified</em>

<div>
    @Model.Content
</div>