@using ELTE.IssueR.Models.Wiki;

@model DocumentsViewModel

@section AddToHead
{
    <link href="@Url.Content("~/Content/Styles/WikiStyle.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Wiki - " + @Model.Title;
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Information != null)
{
    <p>ViewBag.Information</p>
}

<h1>@Model.Title</h1>
<em>@Model.Author, @Model.Modified</em>

<div>
    @Model.Content
</div>