@using ELTE.IssueR.WebClient.Models.Account;

@model ProfileViewModel

@section AddToHead
{
    <link href="@Url.Content("~/Content/Styles/AccountStyle.css")" rel="stylesheet" type="text/css" />
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Information != null)
{
    <p>ViewBag.Information</p>
}

@if (Model == null)
{
    <p>Hiba történt, ezért nincs megjeleníthető adat.</p>
}
else
{
    <h1 class="accountH1">Profilom</h1>

    <h2 class="accountH2">Menü</h2>

    <ul>
        <li>@Html.ActionLink("Beérkezett üzenetek", "MailsRecv")</li>
        <li>@Html.ActionLink("Elküldött üzenetek", "MailsSent")</li>
        <li>@Html.ActionLink("Új üzenet írása", "MailWrite")</li>
        <li>@Html.ActionLink("Adatok módosítása", "AccountSettings")</li>
        <li>@Html.ActionLink("Profilkép feltöltése", "UploadProfileImage")</li>
    </ul>

}