@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - IssueR</title>
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
</head>
<body>
    <header>
        <div class="statusBar">
            @if (Session["userName"] == null)
            {
                <ul>
                    <li>
                        @Html.ActionLink("Bejelentkezés", "Login", "Account")
                    </li>
                    <li>
                        @Html.ActionLink("Regisztráció", "Register", "Account")
                    </li>
                </ul>
            }
            else
            {
                <ul>
                    <li class="welcome">
                        Üdvözlünk, @Session["userName"]!
                    </li>
                    <li>
                        @Html.ActionLink("Profilom", "ProfileIndex", "Account")
                    </li>
                    <li>
                        @Html.ActionLink("Kijelentkezés", "Logout", "Account")
                    </li>
                </ul>
            }
        </div>
        <menu>
            <ul>
                <li>@Html.ActionLink("Kezdőlap", "Index", "Home")</li>
            </ul>
</menu>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; @DateTime.Now.Year - IssueR</p>
        <p><i>Ricsi-és-a-spancik</i></p>
    </footer>
</body>
</html>