@using Microsoft.Owin.Security

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - IssueR</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/LayoutStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/FancyFormStyle.css")" rel="stylesheet" type="text/css" />

    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
</head>
<body>
    <div id="bodywrapper">

        <div id="header">

            <table id="headerlayouttable">
                <tr>
                    <td id="logobox">
                        <a href="@Url.Action("Index","Home")">
                            <img src="@Url.Content("/Images/issuerlogo.jpg")" />
                        </a>
                    </td>
                    <td id="searchbox">
                        @using (@Html.BeginForm("Search", "Organization", FormMethod.Get))
                        {
                            <input id="searchfield" type="text" placeholder="vállalat neve..." name="orgName" />
                            <input type="submit" class="accountbutton" value="Keresés" />
                        }
                    </td>
                    <td id="accountbox">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <table>
                                <tr>
                                    
                                    @{
                                        var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

                                        foreach (var p in loginProviders)
                                        {
                                            <td>
                                                @switch (p.AuthenticationType)
                                                {
                                                    case "Facebook":
                                                        @Html.ActionLink(" ", "ExternalLogin", "Account", new { provider = p.AuthenticationType, returnUrl = Request.Url.PathAndQuery }, new { @class = "loginthumb facebookthumb" })
                                                        break;
                                                    case "Google":
                                                    @Html.ActionLink(" ", "ExternalLogin", "Account", new { provider = p.AuthenticationType, returnUrl = Request.Url.PathAndQuery }, new { @class = "loginthumb googlethumb" })
                                                        break;
                                                    default:
                                                        break;
                                                }
                                            </td>
                                        }
                                    }
                                        
                                    <td>
                                        <button type="button" class="buttonlikelink blue" onclick="location.href='@Url.Action("Login", "Account", new { })'">
                                            Bejelentkezés
                                        </button>
                                    </td>

                                    <td>
                                        <button type="button" class="buttonlikelink blue" onclick="location.href='@Url.Action("Register", "Account", new { })'">
                                            Regisztráció
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        }
                        else
                        {
                            <table>
                                <tr>
                                    <td>

                                        <a href="@Url.Action("MailsReceive", "Account")">
                                            @if (@Html.Action("NewMails", "Account").ToString() != "0")
                                            {
                                                <img src="@Url.Content("/Images/newmail.jpg")" />
                                            }
                                            else
                                            {
                                                <img src="@Url.Content("/Images/mail.jpg")" />
                                            }
                                        </a>
                                    </td>
                                    <td>
                                        <button type="button" class="buttonlikelink blue" onclick="location.href='@Url.Action("ProfileIndex", "Account", new { })'">
                                            @User.Identity.Name
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="buttonlikelink blue" onclick="location.href='@Url.Action("Logout", "Account", new { })'">
                                            Kijelentkezés
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
            </table>
        </div>

        <div id="contentwrapper">
            @RenderBody()
        </div>

        <div id="footer">
            <p>&copy; @DateTime.Now.Year - IssueR</p>
            <p><i>Ricsi-és-a-spancik</i></p>
        </div>
    </div>

</body>
</html>