@using ELTE.IssueR.Models

@section AddToHead
    {
    <link href="@Url.Content("~/Content/Styles/OrganizationStyle.css")" rel="stylesheet" type="text/css" />
}

@model OrganizationDetails

@{
    ViewBag.Title = Model.Org.Name;
}

<div class="organization_wrapper">
    <img src="@Url.Action("CoverFor", "Organization", new { orgId = Model.Org.Id, thumb = false })" class="cover_image" />

    <div class="menubar">
        @if(User.Identity.IsAuthenticated)
        {
            if (Html.Action("HasPermission", "Organization", new { orgId = Model.Org.Id, perm = ELTE.IssueR.Models.Permissions.BasePermission.AddMember }).ToString() == true.ToString())
            //if(Html.Action("IsOrgMember", "Organization", new { orgId = Model.Org.Id }).ToString() == "false")
            {
                @Html.ActionLink("Dolgozó felvétele", "AddMember", "Organization", new { orgId = Model.Org.Id }, new { @class = "buttonlikelink green" });
                //@Html.ActionLink("Csatlakozás", "AddOrgMember", "Organization", new { orgId = Model.Org.Id }, new { @class = "buttonlikelink green" })
            }
            /*else
            {
                <span class="buttonlikelink green">Csatlakozott</span>
            }*/
            if (Html.Action("HasPermission", "Organization", new { orgId = Model.Org.Id, perm = ELTE.IssueR.Models.Permissions.BasePermission.EditMember }).ToString() == true.ToString())
            {
                @Html.ActionLink("Dolgozók kezelése", "EditMember", "Organization", new { orgId = Model.Org.Id }, new { @class = "buttonlikelink green" });
            }

            if (Html.Action("HasPermission", "Organization", new { orgId = Model.Org.Id, perm = ELTE.IssueR.Models.Permissions.BasePermission.EditContent }).ToString() == true.ToString())
            {
                @Html.ActionLink("Borítókép feltöltése", "UploadCoverImage", "Organization", new { orgId = Model.Org.Id }, new { @class = "buttonlikelink blue" })
            }
        }
    </div>

    @if (TempData["Information"] != null)
    {
        <p>@TempData["Information"]</p>
    }

    <h1>@Model.Org.Name</h1>

    <h2>@Model.Org.City, @Model.Org.Country</h2>
    
    <p>Alapítva: @Model.Org.FoundationYear</p>

    <p>
        Tevékenységek:
        @if (Model.Org.Activity != null) 
        { 
            @Model.Org.Activity 
        }
        else
        {
            <span>-</span>
        }                      
    </p>

    <p>@Model.Org.Description</p>

    <h2>Dokumentumok</h2>

    <div>
        
    </div>

    <h2>Projektek</h2>

    @if (Html.Action("HasPermission", "Organization", new { orgId = Model.Org.Id, perm = ELTE.IssueR.Models.Permissions.BasePermission.AddContent }).ToString() == true.ToString())
    {
        <div class="join">
            @Html.ActionLink("+ Új projekt indítása", "Index", "Project", new { }, new { @class = "buttonlikelink green" })
        </div>
    }
    

    @foreach(Project project in Model.Projects)
    {
        <div class="project_wrapper">
            <h3>@project.Name</h3>
            <p>@project.Description</p>
            <div class="join">
                @Html.ActionLink("Részletek", "ProjectData", "Project", new { id = project.Id }, new { @class = "buttonlikelink green"})
            </div>
        </div>
    }

</div>


