@using ELTE.IssueR.Models

@model EditMemberPermViewModel

@{
    ViewBag.Title = "Jogosultságok kezelése";
}

@section AddToHead
{
    <link href="@Url.Content("~/Content/Styles/FancyFormStyle.css")" rel="stylesheet" type="text/css" />
}

<h2>Jogosultságok kezelése</h2>

<div>
    <ul>
        <li>Név: @Model.Employee.User.UserName</li>
        <li>Jogosultságok:
            <ul>
                @foreach(Permissions.BasePermission bp in Model.AvailablePermissions)
                {
                    if(((Models.Persmissions.Permission)Model.Employee.Status).HasPermission(bp))
                    {
                        <li>@bp.ToString() - @Html.ActionLink("Eltávolítás", "RemovePermission", "Organization", new { orgId = Model.Employee.OrganizationId, userId = Model.Employee.UserId, perm = bp } )</li>
                    }
                    else
                    { 
                        <li>@bp.ToString() - @Html.ActionLink("Hozzáadás", "AddPermission", "Organization", new { orgId = Model.Employee.OrganizationId, userId = Model.Employee.UserId, perm = bp })</li>
                    }
                }
            </ul>
        </li>
    </ul>
</div>
