@using ELTE.IssueR.Models
@using ELTE.IssueR.Models.Permissions

@{
    ViewBag.Title = "Jogosultságok kezelése";
}

@section AddToHead
{
    <link href="@Url.Content("~/Content/Styles/OrganizationStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/FancyFormStyle.css")" rel="stylesheet" type="text/css" />
}

@model EditMemberPermViewModel

<h2>Jogosultságok kezelése</h2>

<div>
    <ul >
        <li>Név: @Model.Employee.User.UserName</li>
        <li>Jogosultságok:
            <ul class="PermissionList">
                @foreach(BasePermission bp in Model.AvailablePermissions)
                {
                    if(((Permission)Model.Employee.Status).HasPermission(bp))
                    {
                        <li>@bp.ToString() - @Html.ActionLink("Eltávolítás", "RemovePermission", "Organization", new { orgId = Model.Employee.OrganizationId, userId = Model.Employee.UserId, perm = bp }, new { @class = "buttonlikelink green" })</li>
                    }
                    else
                    { 
                        <li>@bp.ToString() - @Html.ActionLink("Hozzáadás", "AddPermission", "Organization", new { orgId = Model.Employee.OrganizationId, userId = Model.Employee.UserId, perm = bp }, new { @class = "buttonlikelink green" })</li>
                    }
                }
            </ul>
        </li>
    </ul>
</div>
